li{
	width: max-content;
}
.done{
	text-decoration: line-through;
}
.delete{
	border-radius: 100%;
	background-color: red;
	margin: 7px;
	border-color: black;
	border-width: .5px;
	font-size: 10px;
	padding: 0px 2px 2px 2px;
}